.container{
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.coinItemContainer{
	display: flex;
	align-items: center;
	width: 100%;
	height: 80%;
	gap: 32px;
	justify-content: space-between;
	border: 0.1px solid #2C2C2C;
	border-radius: 8px;
	padding: 0px 16px;
}
.iconContainerCoin{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
}
.coin-info{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.coin-name{
color: var(--Text-100, #FFF);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 100%; 
}
.coin-price{
	color: var(--Text-100, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px;
}
.coin-symbol{
	color: #b3b3b3b5;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
}
.coin-icon{
	width: 42px;
}


.marquee {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: calc(var(--item-width) * -1);
  }
}

.marquee__item {
  width: var(--item-width, 300px);
  height: 100px;
  position: absolute;
  left: max(calc(var(--item-width) * var(--total-items)), 100%);

  animation-name: scrollLeft;
  animation-duration: var(--duration, 120s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-delay: calc(
    var(--duration, 120s) / var(--total-items) *
    (var(--total-items) - var(--item-index)) * -1
  );
}
