.navbar {
	display: flex;
	background-color: #101010;
	align-items: center;
	justify-content: space-between;
    width: 100%;
    padding: 0 2%;
}

.leftsidenav{
	color: white;
	font-size: 20px;
	/* padding-left: 50px; */
}

.middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	border: 1px solid #2C2C2C;
	border-radius: 4px;
	background-color: #101010;

	/* background-color: red; */
}

.category {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 20px;
	background-color: rgba(35, 106, 238, 1);
	/* background: var(--color-primary); */
	font-weight: 500;
	/* background-color: rgb(97, 97, 196); */

}
.categoryBtn {
	background-color: rgba(35, 106, 238, 0.24);
	border: none;
	padding: 10px 0;
	color: #FFF;

}

.select {
	background-color: rgba(35, 106, 238, 0.001);
	color: #FFF;
	border: none;
	background: none;

}


.searchcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101010;
	color: white;
	width: 72%;
}

.search {
	background-color: #101010;
	color: white;
	border: 1px solid transparent;
	width: 100%;
	padding: 10px 16px;
}

.searchIcon {
	/* width: 20px; */
	padding:0 16px;

}


.rightside p {
	color: gray;
}

.rightside {
	display: flex;
	gap: 10px;
	justify-content:end;
	align-items: center;
	/* gap: 20px; */
	/* background-color: red; */


}

.profileimage {
	height: 50px;
}

.profile {
	display: flex;
	/* background-color: red; */


}
.nav-text{
	background: var(--gradient-heading);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
